.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#calculator-body button {
  width: 25%;
  height: 50px;
  padding: 0px;
}

button,
input {
  border-radius: 0px !important;
}

input {
  margin: 0px !important;
  pointer-events: none;
}

.col-6 {
  padding: 0px !important;
}

.list-group-item {
  transition: all 0.5s;
}

.list-group-item:hover {
  background-color: rgb(218, 217, 217);
  cursor: pointer;

}